version: "3"
services:
  hmpps-external-movements-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-external-movements-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

networks:
  hmpps:
